{% extends 'index.html' %} {% block contacts_nav %}

<li class="active">
  <a href="/contacts"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
</li>
{% endblock %} {% block content %}
<br><br>
<div style="width: 80%;">
<h4 class="lead">
  EnrichKit is developed by the 
  <a href="http://fpenagaricano-lab.org/" target="_blank" style="color: black; font: bold"><u>Quantitative Genomics & Computational Biology lab</u> (PI: Dr. Peñagaricano)</a> <br>
  at the Department of Animal and Dairy Sciences, University of Wisconsin - Madison.
</h4>
</div>
<br>
<div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2914.3492323461282!2d-89.41730078255615!3d43.07615270000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8807acc078fbc397%3A0xb7e3ed786867978f!2sAnimal%20and%20Dairy%20Sciences!5e0!3m2!1sen!2sus!4v1661976870630!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
