{% extends 'layout.html' %} {% block gsea %}
<li class="active">
  <a href="/gsea"><span class="fa fa-calculator mr-3"></span> GSEA </a>
</li>
{% endblock %} {% block content %}

<h1 class="display-5"> Gene Set Enrichment Analysis (GSEA) </h1>
<p class="lead">
  Perform an GSEA. 
</p>
{% if err %}
<h2><p style="color: red">{{err}}</p></h2>
{% endif %}
<form
  enctype="multipart/form-data"
  action="."
  role="form"
  method="post"
  id="service-form"
>
  {% csrf_token %}

  <div><h4>1. Select Species</h4></div>

  <div>{{form.species}}</div>

  <br /><br />
  <div><h4>2. Select Gene Set Source</h4></div>

  <div>{{form.input_db_list}}</div>

  <br /><br />
  <div><h4>3. Input Gene List</h4></div>
  <div>
    <p>
      The input has to have three columns - <a style="color:#000000">"Gene ID", "log2(FoldChange)" and "(adjusted) P-value"</a> seperated by comma. <br />
      

      For example,<br />
      ENSBTAG00000020936,0.652,0.00343 <br />
      ENSBTAG00000005235,-1.394,0.00948 <br />
    </p>
    <p>Ranking will be performed over a computed column: <a style="color:#000000">-log10(p-value) * log2(FoldChange)</a>.</p>

    <!-- <p><a style="color:#000000"> Please retain ONLY significant genes. </a></p> -->

  </div>
  <div>{{form.input_gene_list}}</div>
  <div>{{form.input_gene_file}}</div>
  <br />
  <div><h4>4. Contact Information</h4></div>
  <p>
    To reduce waiting time, we would offer potential long-running jobs to our
    task queue. <br />
    Please provide your email address to get notification about your
    analysis.<br />
  </p>
  <div>{{form.email}}</div>

  <br />
  {% if not err %}
  <div style="position: relative; z-index: 4000">
    <input type="submit" class="btn btn-info" value="START" />
  </div>
  {% endif %}
</form>
<script>
  const form = document.getElementById("service-form");
  form.addEventListener("submit", () => {
    document.querySelector(".overlay").style.display = "inline";
    document.querySelector(".loader").style.display = "inline";
    fetch(".", {
      method: "post",
      credentials: "same-origin",
      headers: {
        Accept: "application/json",
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": "{{csrf_token}}",
      },
      body: JSON.stringify({ message: document.querySelector("service-form") }),
    });
  });
</script>
{% endblock %}
